<h4>The baseline jupyter cells</h4>

In [1]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
print(pd.__version__)

1.5.2

In [3]:
# dataframe2 - this is your full population dataset
# users = pd.read_csv('user_locator.csv', dtype="string")
users = pd.read_csv('user_locator.csv')
users[:]

          uid      TXTSSN  fingers
0    F435P123   123456789        7
1    F562H783   212198989        8
2        R2D2  6171118888       10
3    G345X922   987654321       10
4    W341S981   191919333       10
..        ...         ...      ...
99   G345X922   987654321       10
100  W341S981   191919333       10
101  B435P123   123453789        6
102  B562H783   212193989       10
103  B342N892   456743671        4

[104 rows x 3 columns]

In [4]:
users.groupby('uid').count()

          TXTSSN  fingers
uid
B341S981      12       12
B342N892      10       10
B345X922      12       12
B435P123       9        9
B562H783       9        9
F435P123       1        1
F562H783      12       12
G345X922      13       13
R2D2           1        1
R342N892      12       12
W341S981      13       13

In [5]:
# this lets you see the labels; be sure none has a space in front of it
df = users.dropna()
# drop the rows that didn't find a UID
df.describe()

             TXTSSN     fingers
count  1.040000e+02  104.000000
mean   4.584767e+08    8.875000
std    3.217359e+08    2.125607
min    9.000000e+00    4.000000
25%    2.121940e+08    8.000000
50%    3.919193e+08   10.000000
75%    4.567457e+08   10.000000
max    9.876543e+08   14.000000

In [6]:
df['uid'].head()

0    F435P123
1    F562H783
2    R342N892
3    G345X922
4    W341S981
Name: uid, dtype: object

In [7]:
# make uid into the index values
df.index = df['uid']
df

               uid     TXTSSN  fingers
uid
F435P123  F435P123  123456789        7
F562H783  F562H783  212198989        8
R342N892  R342N892  456745671       10
G345X922  G345X922  987654321       10
W341S981  W341S981  191919333       10
...            ...        ...      ...
G345X922  G345X922  987654321       10
W341S981  W341S981  191919333       10
B435P123  B435P123  123453789        6
B562H783  B562H783  212193989       10
B342N892  B342N892  456743671        4

[104 rows x 3 columns]

In [8]:
# and drop the two unneeded columns
df5 = df.drop(['uid','TXTSSN'], axis=1)
df5

          fingers
uid
F435P123        7
F562H783        8
R342N892       10
G345X922       10
W341S981       10
...           ...
G345X922       10
W341S981       10
B435P123        6
B562H783       10
B342N892        4

[104 rows x 1 columns]

In [9]:
df5.to_csv('output.csv', index=False)